

body {
    margin: 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding-top: 75px; */
    /* padding-bottom: 75px; */
    background-image: url('./static/blackboard.avif');
    font-family: 'Finger Paint', cursive, 'Permanent Marker', cursive,  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

